<%= form_for(@training) do |f| %>
  <% if @training.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@training.errors.count, "error") %> prohibited this training from being saved:</h2>

      <ul>
      <% @training.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :training %><br />
    <%= f.text_field :training %>
  </div>
  <div class="field">
    <%= f.label :training_date %><br />
    <%= f.date_select :training_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
