.cta-box.saved-searches
  .cta-title
    Saved Searches
  .fixed-height
    -if current_user.job_searches.blank?
      .blank_search
        =raw save_search_blank
      %ul
    -else
      .blank_search{ :style => 'display:none' }
        =raw save_search_blank
      %ul
        - current_user.job_searches.each do |search|
          %li
            - if search.jobs.size > 0
              %span.result-count
                =search.jobs.size
            .search-wrapper
              %a.delete-search{ :href => "/job_searches_user/"+search.id.to_s, :data => { :searchid => search.id.to_s } }
              - if search.location.blank?
                = link_to "#{search.keyword} (anywhere)", jobs_path(:search => search.search_params)
              - else
                = link_to "#{search.keyword} near #{search.location}", jobs_path(:search => search.search_params)
  .cta-footer
    &nbsp;
