%script{:type => "text/javascript"}
  =raw @jobs_json.to_json
.wide-column
  .job-search-box
    = form_tag('/jobs', :method => :get) do
      .search-block
        %label{ :for =>'q' }
          Search for
          %span
            (job title, skills, keywords)
        =text_field_tag :q
      .search-block
        %label{ :for => 'near' }
          Near
          %span
            (address, city, state, or zip code)
        =text_field_tag :name
      .search-btn-block
        = submit_tag 'Search', :class => 'green-btn'
      %br.clear
  - if current_user
    .cta-box.saved-searches
      .cta-title
        Saved Searches
      .fixed-height
        %ul
        - @saved_searches.each do |search|
          %li
            = link_to "#{search.keyword} near #{search.location}", :q => search.keyword, :location => search.location
            %span.result-count
              =search.jobs.size
      .cta-footer
        %a{ :href => '#'}
          Manage saved searches

    .cta-box.flagged-jobs
      .cta-title
        Flagged Jobs
      .fixed-height
        %ul
          - @flagged_jobs.each do |job|  
            %li
              %span.unflag-item
                %a{ :href => '/jobs/flag/'+job.id.to_s }
              =link_to job.title, job
      .cta-footer
        %a{ :href => '#'}
          Compare flagged jobs
    %br.clearit
    .white-box.recommended-jobs
      .recommended-jobs-title
        Recommended Jobs
      .notification
        The more complete your profile is, the more relevant the Recommended Jobs shown below will be.  Go to
        %a{:href=>'#'}My Profile
        to complete your profile.
      %ol.job-listings
        - @jobs.each do |job|
          %li.job-listing
            =link_to job.title, job, { :class => 'job-title' }
            %span.job-meta
              =job.company.name
              =job.location.location
              %span.job-aquire
                Acquired on
              =job.date_acquired
            - if job.snippet?
              .job-excerpt
                =job.snippet
            - if @flagged_jobs.include?(job)
              %span.unflag-item
                %a{ :href => '/jobs/flag/'+job.id.to_s }
            - else
              %span.flag-item
                %a{ :href => '/jobs/flag/'+job.id.to_s }

      %br.clear
      =will_paginate @jobs

#sidebar
  .cta-box.special-cta
    %span
      Explore your career options
    Etiam quis lectus eu sapien porta laoreet. Sed eget ante enim, in placerat nisi.

  .cta-box.jobs-applied-for
    .cta-title
      Jobs Applied For
    You haven't applied for any jobs yet.

  .cta-box.map
    %img{ :src => '/images/mockup-map.png' }

%br
