%script{:type => "text/javascript"}
  =raw @jobs_json.to_json
.wide-column
  .job-search-box
    = form_tag('/jobs', :method => :get) do
      .search-block
        %label{ :for =>'q' }
          Search for
          %span
            (job title, skills, keywords)
        =text_field_tag :q
      .search-block
        %label{ :for => 'near' }
          Near
          %span
            (address, city, state, or zip code)
        - if current_user
          =text_field_tag :near, current_user.location
        - else
          =text_field_tag :near
      .search-btn-block
        = submit_tag 'Search', :class => 'green-btn'
      %br.clearit
  - if current_user
    = render 'savedsearches'
    = render 'flaggedjobs'

    %br.clearit


    .white-box.recommended-jobs
      .recommended-jobs-title
        Recommended Jobs
      .notification
        The more complete your profile is, the more relevant the Recommended Jobs shown below will be.  Go to
        %a{:href=>'#'}My Profile
        to complete your profile.
      %ol.job-listings
        - @jobs.each do |job|
          %li.job-listing
            .job-heading
              - if @flagged_jobs.include?(job)
                %a.unflag-item{ :href => '/jobs/flag/'+job.id.to_s, :data => { :jobid => job.id.to_s} }
              - else
                %a.flag-item{ :href => '/jobs/flag/'+job.id.to_s, :data => { :jobid => job.id.to_s} }
              %span.job-number
                = @counter = @counter + 1
              %span.job-title-wrapper
                =link_to job.title, job, { :class => 'job-title' }
            %span.job-meta
              =job.company.name
              =job.location.location
              %span.job-aquire
                Acquired on
              =job.date_acquired
            - if job.snippet?
              .job-excerpt
                =job.snippet

            %br.clearit
      =will_paginate @jobs

#sidebar
  .cta-box.special-cta
    .special-title
      Explore your career options
    .special-copy
      Etiam quis lectus eu sapien porta laoreet. Sed eget ante enim, in placerat nisi.
    %br.clearit
  .cta-box.jobs-applied-for
    .cta-title
      Jobs Applied For
    You haven't applied for any jobs yet.

  .cta-box.map
    %img{ :src => '/images/mockup-map.png' }

%br
