%script{:type => "text/javascript", :charset => "utf-8"}
  var jobs =
  =raw @jobs.map { |job| { :lat => job.company.lat, :lng => job.company.long}}.to_json
  ;
  $(document).ready(function() {setupMap(jobs);});
.wide-column
  = render 'jobsearchbox'
  .inner-sidebar
    =form_for @search do |f|
      =hidden_field_tag "smart_filter", params[:smart_filter]
      .filter-box.smart-filter-enable
        #smart-filter
          .smart-filter-title
            %span
              Smart Filters
            %a{ :href => '#', :class => 'tooltip-link' }What's this?
            .tooltip.tooltip-yellow-tl{:style => "display:none"}
              .tooltip-content
                =raw smart_filter_tip
          -hide = params[:smart_filter]=="on" ? "hide-off" : "hide-on"
          -toggle = params[:smart_filter]=="on" ? "toggle-on" : "toggle-off"
          %input{:type => 'button', :class => "smart-filter-toggle #{toggle}"}
        %br.clearit
      %div{:class => hide}
        .filter-box.date
          .filter-title
            Job Post Age
          .filter-footer
            =select :search, :date_acquired_greater_than, [ ["1 week ago", (Date.today - 7.days).to_s],["2 weeks ago", (Date.today - 14.days).to_s],["1 month ago", (Date.today - 30.days).to_s],["2 months ago", (Date.today - 60.days).to_s],["3 months ago", (Date.today -   90.days).to_s],["1 year ago", (Date.today - 356.days).to_s]], :include_blank => 'None'
        .filter-box.keyword
          .filter-title
            Search
          .filter-footer
            =f.text_field :job_searches_keyword_contains

        .filter-box.location
          .filter-title
            Location
          .filter-footer
            =f.text_field :job_searches_location_contains

        .filter-box.title
          .filter-title
            Title Contains
          .filter-footer
            =f.text_field :title_contains

        .filter-box.companies
          .filter-title
            Company Name Contains
          .filter-footer
            =f.text_field :company_name_contains
            =f.submit "Submit", :value=>"Search", :class => "green-btn"
    .careers
      = render 'careers/related'
  .white-box.search-results-wrapper
    .search-results-header
      .search-result-title
        %span
          =@jobs.total_entries unless @jobs.blank?
        Jobs Found
      .search-result-sortby
        Sort by:
        %select
          %option{ :value => '1' }
            Relevance
          %option{ :value => '2' }
            Distance
          %option{ :value => '3' }
            Salary
    %ol.job-listings
      = render 'joblisting'
    =will_paginate @jobs unless @jobs.blank?

#sidebar
  = render 'jobmap'
  - if current_user && params[:search]
    .cta-box.current-search
      .cta-title
        Current Search
      %ul
        %li
          = "#{params[:search][:job_searches_keyword_contains]}"
          - if params[:search][:job_searches_location_contains]
            - if params[:search][:job_searches_location_contains].empty?
              = " (anywhere)"
            - else
              = "near #{params[:search][:job_searches_location_contains]}"
      = form_tag('/job_searches_user/new', :method => :get, :id => 'save-search')
      .cta-footer
        = hidden_field_tag 'search[date_acquired_greater_than]', params[:search][:date_acquired_greater_than]
        = hidden_field_tag 'search[job_searches_keyword_contains]', params[:search][:job_searches_keyword_contains]
        = hidden_field_tag 'search[job_searches_location_contains]', params[:search][:job_searches_location_contains]
        = hidden_field_tag 'search[title_contains]', params[:search][:title_contains]
        = hidden_field_tag 'search[company_name_contains]', params[:search][:company_name_contains]
        = submit_tag 'Save this search', {:class => 'green-btn'}
        %a{ :href => '#', :class => 'tooltip-link' }
          What's this?
        .tooltip.tooltip-yellow-tr{:style => "display:none"}
          .tooltip-content
            =raw save_search_tip

    = render 'savedsearches'
    = render 'flaggedjobs'
%br
