%p#notice= notice

%p
  %strong Company:
  = @job.company.name

%p
  %strong Date acquired:
  = @job.date_acquired

%p
  %strong Location:
  = @job.location.location

%p
  %strong Title:
  = @job.title

%p
  %strong Url:
  = @job.url

