#home
  .career-search
    = form_tag('/careers', :method => :get) do
      = text_field_tag :search, params[:search]
      = submit_tag "Search"

  %h2.page-title Explore Industries and Careers

  .industry-box-wrapper
    - @industry.each do |industry|
      .industry-box
        = link_to industry.name, industry_path(industry.id)
    %br.clearit

  .wide-column
    .white-box
      .recommended-career-title
        Recommended Careers
      .notification
        These career suggestions are based on your answers to the Career Survey you took 2 weeks ago. You can update your survey answers whenever you like or find other careers by searching or browsing the industries and categories above.
      - if @careers.empty?
        No Careers Found
      - else
        = render 'careerlisting'

      - unless  params[:moc].nil?
        %p Page
        =link_to '<', careers_path({:page => @prev_page})
        =link_to '>', careers_path({:page => @next_page})

  #sidebar
    = render 'flagged_careers'

    .cta-box.vet-friendly
      here are the vet friendly careers

  - unless  params[:moc].nil?
    %p Page
    =link_to '<', careers_path({:page => @prev_page})
    =link_to '>', careers_path({:page => @next_page})
