#home
  %h1= @careers.title
  %br
  %p= @careers.description
  %p Average National Salary
  = number_to_currency(@careers.average_national_salary)

  %h2 Related Careers:
  %ul
    - @careers.related_careers.each do |related|
      %li
        = link_to related.title, related.api_safe_onet_soc_code

  %p Knowledge:

  %table
    %tr
      %th Title
      %th Stars

      - @careers.knowledge.each do |knowledge|
        %tr
          %td= knowledge.title
          %td= knowledge.stars

  %p Skills:

  %table
    %tr
      %th Title
      %th Stars

      - @careers.skills.each do |skills|
        %tr
          %td= skills.title
          %td= skills.stars

  %p Abilities

  %table
    %tr
      %th Title
      %th Stars

      - @careers.abilities.each do |abilities|
        %tr
          %td= abilities.title
          %td= abilities.stars

  %br
  - if @jobs.blank?
    %p No jobs found
  - else
    = render 'jobs/joblisting'


