#sign_up_wrapper
  #sign_up
    %h2 Sign up
    = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
      = devise_error_messages!

      %p
        = f.label :name
        %br
        = f.text_field :name

      %p
        = f.label :email
        %br
        = f.text_field :email

      - if @user.password_required?
        %p
          = f.label :password
        %br
          = f.password_field :password

        %p
          = f.label :password_confirmation
          %br
          = f.password_field :password_confirmation

        %p=f.submit "Submit", :value=>"Sign in", :class => "green-btn"
        %br.clearit

      %p
        %strong Or sign up through one of these services:

      = render 'authentications/auth_menu'
      = render :partial => 'devise/shared/links'
      %br.clearit
