#sign_up_wrapper
  %h2 Create an account
  .did-you-mean-sign-in
    = link_to "Sign in", new_session_path(resource_name), {:class => 'sign_in'}
    Already have an account?
  %br.clearit
  #sign_up
    = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
      #reg_top
        %h3
          Use one of your existing accounts
        %span
          You can sign in to JobOps using an existing Facebook, LinkedIn, or Twitter account. It is highly recommended that you use one of these accounts to sign in.
        %br.clearit
        %br
        %br
        = render 'authentications/auth_menu'
      %br.clearit
      #reg_mid
        Or create an account the old fashioned way...
      #reg_btm
        = devise_error_messages!
        .reg_field
          = f.label :name
          = f.text_field :name
          %span
            Please enter your full name
        %br.clearit
        .reg_field
          = f.label :email
          = f.text_field :email
          %span
            Use this email address to log in. We will never share it or spam you.
        %br.clearit
        - if @user.password_required?
          .reg_field
            = f.label :password
            = f.password_field :password
            %span
              At least 6 characters (letters, numbers, and symbols)
          %br.clearit
          .reg_field
            = f.label :confirmation
            = f.password_field :confirmation
            %span
              Please type it again the same way.
          %br.clearit
        %p
          =f.submit "Submit", :value=>"Sign in", :class => "green-btn"

    %br.clearit