<div id="home">
<p id="notice"><%= notice %></p>

<p>
  <b>Skill:</b>
  <%= @skill.skill %>
</p>

<p>
  <b>User:</b>
  <%= @skill.user_id %>
</p>


<%= link_to 'Edit', edit_skill_path(@skill) %> |
<%= link_to 'Back', skills_path %>
</div>
