<%= form_for(@award) do |f| %>
  <% if @award.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@award.errors.count, "error") %> prohibited this award from being saved:</h2>

      <ul>
      <% @award.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :award %><br />
    <%= f.text_field :award %>
  </div>
  <div class="field">
    <%= f.label :award_date %><br />
    <%= f.date_select :award_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
