<div id="home">
<p id="notice"><%= notice %></p>

<p>
  <b>Award:</b>
  <%= @award.award %>
</p>

<p>
  <b>Award date:</b>
  <%= @award.award_date %>
</p>


<%= link_to 'Edit', edit_award_path(@award) %> |
<%= link_to 'Back', awards_path %>
</div>
