%h3 - Education
%br.clearit
  %p= link_to 'Add Education', new_education_path
  %p= link_to 'Edit Education', educations_path
.tab_form
  -@education = current_user.educations.new
  .add_education_form
    =render "educations/form"
.tab_form
  %ul
    -current_user.educations.each do |education|
      %li
        %span
          %a{ :class=> 'edit_education', :data => "education_#{education.id}"} Edit
          =link_to 'Destroy', education, :confirm => 'Are you sure?', :method => :delete, :remote => true, :html => {:class=>"delete_education", :data=>"education_#{education.id}"}      
        %h3 
          =education.school_name
        %ul
          %li.dates
            =education.start_date.strftime("%m/%d/%y") unless education.start_date.nil?
            to
            =education.end_date.strftime("%m/%d/%y")  unless education.start_date.nil?
          %li.study
            ="#{education.degree} in #{education.study_field}"
          