%h3 - Education
.tab-add-edit
  %p= link_to 'Add Education', new_education_path, :class => "add_edu"
  %p= link_to 'Edit Education', educations_path, :class => "edit_edu"
.tab_form
  -@education = current_user.educations.new
  .add_education_form
    =render "educations/form"
-Education.where(:user_id => current_user.id).each do |education|
  .tab_form
    .saved-edu
      %h4 
        =education.school_name
      %span.tab_function
        %a{ :class=> 'edit_education', :data => "education_#{education.id}"} Edit
        =link_to '', education, :confirm => 'Are you sure?', :method => :delete, :remote => true, :html => {:class=>"delete_education", :data=>"education_#{education.id}"}, :class => "remove"
      %br.clearit      
      %ul
        %li.dates
          =education.start_date.strftime("%m/%d/%y") unless education.start_date.nil?
          to
          =education.end_date.strftime("%m/%d/%y")  unless education.start_date.nil?
        %li.study
          ="#{education.degree} in #{education.study_field}"
          