= form_for(@user, :html => { :multipart => true }) do |f|
  -if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  .field
    .field-wrap
      = f.label :name
      = f.text_field :name, :class => 'required'
  .field
    = f.label :location
    = f.text_field :location
    .helpful_info
      = profile_location_tip
  .field
    = f.label :phone
    = f.text_field :phone
    .helpful_info
      = profile_phone_tip
  .field
    = f.label :goal
    = f.text_field :goal
    .helpful_info
      = profile_goal_tip
  .field
    = f.label :relocate
    = f.text_field :relocate
    .helpful_info
      = profile_relocate_tip
  .field
    = f.label :desired_salary
    = f.text_field :desired_salary
    .helpful_info
      = profile_desired_salary_tip
  .actions
    =f.submit "Submit", :value=>"Save", :class => "green-btn"

