<%= form_for(@user, :html => { :multipart => true }) do |f| %>
<% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :avatar %><br />
    <%= f.file_field :avatar %>
  </div>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :state %><br />
    <%= f.text_field :state %>
  </div>
  <div class="field">
    <%= f.label :goal %><br />
    <%= f.text_field :goal %>
  </div>
  <div class="field">
    <%= f.label :relocate %><br />
    <%= f.text_field :relocate %>
  </div>
  <div class="field">
    <%= f.label :desired_salary %><br />
    <%= f.text_field :desired_salary %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
