%h2#name= @user.name

%ul.profile_nav
  %li= active_link_to "View Profile", users_path, :active => :exclusive
  %li= active_link_to "Edit Profile", edit_user_path(@user.id)
  %li= active_link_to "Account Settings", :controller => "account", :action => "index"
  %li= active_link_to "Resume Builder", :controller => "resume", :action => "index"

