%h3 - Skills
%br.clearit
.tab_form
  %p= link_to 'Add Skill', new_skill_path, :class => "add_skill"
  %p= link_to 'Edit Skills', skills_path, :class => "edit_skill"
  .skills
    -current_user.skills.each do |skill|
      %span{:class=>"skill_#{skill.id}"}
        =skill.skill
        %a{:class=>"skill_#{skill.id} edit_skill"} Edit 
        =link_to 'Destroy', skill, :confirm => 'Are you sure?', :method => :delete, :remote => true, :class=>"delete_skill_#{skill.id}"
      %span{:class=>"edit_skill_#{skill.id} edit_skill_form"}
        =form_for skill, :remote => true, :html => {:class => "edit_skill"} do |f|
          =f.text_field :skill 
          =f.submit :value=>"Edit Skill", :class => "green-btn"
  .add_skill_form
    =form_for @user.skills.new, :remote => true do |f|
      =f.text_field :skill 
      =f.submit :value=>"Add Skill", :class => "green-btn"
      %a{:class=>"cancel_add_skill", :href => "#"} Cancel
