<div id="edit_profile">
<h1>Editing Profile</h1>

<h2>Basic Information</h2>
<%= render 'users/profile/form' %>
<%= render 'users/profile/personal_form' %>
<%= render 'military/form' %>


<%= link_to 'Show', @users %> |
<%= link_to 'Back', users_path %>
</div>
