#profile
  = render 'users/profile/nav_profile'
  %br.clearit
  #user-main
    = render 'users/profile/sidebar_nav'
    .tab_container
      #basic_info.tab_content
        %h2 Basic Info
        .tab_form
          - if not @facebook_user.nil?
            = image_tag @facebook_user.picture
          - if not @twitter_user.nil?
            = image_tag "http://img.tweetimag.es/i/#{@twitter_user.user.screen_name}_b"
          - unless @user.linked_in_user.nil?
            = image_tag @user.linked_in_user.profile.picture_url

          .label
            Name:
          .value= @user.name
          .label
            Location:
          .value= @user.location
          .label
            Phone:
          .value= @user.phone
          .label
            Current Goal:
          .value= @user.goal
          .label
            Willingness to relocate:
          .value= @user.relocate
          .label
            Desired Salary:
          .value= @user.desired_salary
          %br.clearit

      #military_info.tab_content
        %h2 Military Info
        .tab_form
          .label
            Military Status:
          .value= @user.military_status
          .label
            Service Branch:
          .value= @user.service_branch
          .label
            MOC:
          .value= @user.moc
          .label
            Rank:
          .value= @user.rank
          .label
            Unit:
          .value= @user.unit
          .label
            Disability:
          .value= @user.disability
          .label
            Wars:
          .value
            - @user.wars.each do |wars|
              = wars.war
          .label
            Awards:
          .value
            - @user.awards.each do |awards|
              = awards.award
          %br.clearit

      #skills_edu.tab_content
        %h2 Skills &amp; Education
        %br.clearit
        %h3 - Education
        %br.clearit
        .tab_form
          - @user.educations.each do |education|
            .label
              School Name:
            .value= education.school_name
            .label
              Degree:
            .value= education.degree
            .label
              Study Field:
            .value= education.study_field
            .label
              Start Date:
            .value= education.start_date
            .label
              End Date:
            .value= check_present(education.end_date)
            .label
              Activities:
            .value= education.activities
            .label
              Notes:
            .value= education.notes
          %br.clearit

        %h3 - Skills
        .tab_form
          .label
            Skills:
          .value=@user.skills.map(&:skill).to_sentence
          %br.clearit

        %h3 - Languages
        .tab_form
          .label
            Languages:
          .value=@user.languages.map(&:language).to_sentence
          %br.clearit

        %h3 - Trainings
        .tab_form
          - @user.trainings.each do |training|
            .label
              Training:
            .value
              ="#{training.training}"
              - unless training.training_date.nil?
                "on #{training.training_date.strftime('%Y')}"
          %br.clearit

        %h3 - Certifications
        .tab_form
          - @user.certifications.each do |certification|
            .label
              Certification:
            .value= "#{certification.name} at #{certification.institution} on #{certification.date_acquired.strftime('%Y')}"
          %br.clearit

      #exp.tab_content
        %h2 Experience
        .tab_form
          - @user.job_histories.each do |job_history|
            .label
              Company:
            .value= job_history.org_name
            .label
              Title:
            .value= job_history.title
            .label
              Start:
            .value= job_history.start_date
            .label
              End:
            .value= check_present(job_history.end_date)
            .label
              Summary:
            .value=job_history.summary
          %br.clearit
    %br.clearit

