<div id="profile">

<%= render 'users/profile/nav_profile' %>
<%= render 'users/profile/sidebar_nav' %>

<div class="tab_container">
<div id="basic_info" class="tab_content">
  <%= image_tag @user.avatar.url(:thumb) %>

<h2>Basic Info</h2>
<table>
  <tr>
	<td>Name: </td>
	<td><%= @user.name %>
  </tr>
  <tr>
    <td>Location:</td>
	<td><%= @user.city %>, <%= @user.state %></td>
  </tr>
  <tr>
	<td>Phone: </td>
	<td><%= @user.phone %></td>
  </tr>
  <tr>
	<td>Current Goal: </td>
	<td><%= @user.goal%>
  </tr>
  <tr>
	<td>Willingness to relocate: </td>
	<td><%= @user.relocate%>
  </tr>
  <tr>
	<td>Desired Salary: </td>
	<td><%= @user.desired_salary %>
  </tr>
</table>
</div>

<div id="military_info" class="tab_content">
<h2>Military Info</h2>
<table>
  <tr>
	<td>Military Status: </td>
	<td><%= @user.military_status %>
  </tr>
  <tr>
    <td>Service Branch:</td>
	<td><%= @user.service_branch %></td>
  </tr>
  <tr>
	<td>MOC: </td>
	<td><%= @user.moc %></td>
  </tr>
  <tr>
	<td>Rank: </td>
	<td><%= @user.rank %>
  </tr>
  <tr>
	<td>Unit: </td>
	<td><%= @user.unit %>
  </tr>
  <tr>
	<td>Disability: </td>
	<td><%= @user.disability %>
  </tr>
  <tr>
	<td>Wars:</td>
	<td>
	<% @user.wars.each do |wars| %>
	<%= wars.war %>,
	<% end %></td>
  </tr>
  <tr>
	<td>Awards:</td>
	<td>
	<% @user.awards.each do |awards| %>
	<%= awards.award %>,
	<% end %></td>
  </tr>
</table>
</div>
<div id="skills_edu" class="tab_content">
<h2>Skills & Education</h2>


<h3>Education</h3>
<table>
  <tr>
    <th>School name</th>
    <th>Degree</th>
    <th>Study field</th>
    <th>Start date</th>
    <th>End date</th>
    <th>Activities</th>
    <th>Notes</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @user.educations.each do |education| %>
  <tr>
    <td><%= education.school_name %></td>
    <td><%= education.degree %></td>
    <td><%= education.study_field %></td>
    <td><%= education.start_date %></td>
    <td><%= check_present(education.end_date) %></td>
    <td><%= education.activities %></td>
    <td><%= education.notes %></td>
    <td><%= link_to 'Show', education %></td>
    <td><%= link_to 'Edit', edit_education_path(education) %></td>
    <td><%= link_to 'Destroy', education, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>


<h3>Skills</h3>
<% @user.skills.each do |skills| %>
<%= skills.skill %>,
<% end %>

<h3>Languages</h3>
<% @user.languages.each do |languages| %>
<%= languages.language %>,
<% end %>

<h3>Trainings</h3>
<table>
  <tr>
    <th>Training</th>
    <th>Training date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @user.trainings.each do |training| %>
  <tr>
    <td><%= training.training %></td>
    <td><%= training.training_date %></td>
    <td><%= link_to 'Show', training %></td>
    <td><%= link_to 'Edit', edit_training_path(training) %></td>
    <td><%= link_to 'Destroy', training, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<table>
  <tr>
    <th>Name</th>
    <th>Institution</th>
    <th>Date acquired</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<h3>Certifications</h3>
<% @user.certifications.each do |certification| %>
  <tr>
    <td><%= certification.name %></td>
    <td><%= certification.institution %></td>
    <td><%= certification.date_acquired %></td>
    <td><%= link_to 'Show', certification %></td>
    <td><%= link_to 'Edit', edit_certification_path(certification) %></td>
    <td><%= link_to 'Destroy', certification, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
</div>

<div id="exp" class="tab_content">
<h3>Experience</h3>
<table>
  <tr>
    <th>Org name</th>
    <th>Title</th>
    <th>Start date</th>
    <th>End date</th>
    <th>Summary</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @user.job_histories.each do |job_history| %>
  <tr>
    <td><%= job_history.org_name %></td>
    <td><%= job_history.title %></td>
    <td><%= job_history.start_date %></td>
    <td><%= check_present(job_history.end_date) %></td>
    <td><%= job_history.summary %></td>
    <td><%= link_to 'Show', job_history %></td>
    <td><%= link_to 'Edit', edit_job_history_path(job_history) %></td>
    <td><%= link_to 'Destroy', job_history, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
</div>
<div id="personal_info" class="tab_content">
<h2>Personal Info</h2>
<table>
  <tr>
	<td>dob: </td>
	<td><%= @user.dob %>
  </tr>
  <tr>
	<td>Age: </td>
  <td>
    <% if not @user.dob.nil? %>
      <%= @user.age(@user.dob) %>
    <% end %>
  </tr>
  <tr>
  <td>Gender:</td>
	<td><%= @user.gender %></td>
  </tr>
  <tr>
	<td>Ethnicity: </td>
	<td><%= @user.ethnicity %></td>
  </tr>
  <tr>
	<td>Family: </td>
	<td><%= @user.family %>
  </tr>
</table>
</div>
</div>
</div>
