#profile
  = render 'users/profile/nav_profile'
  %br.clearit
  #user-main
    .show_profile_sidebar
      - if not @facebook_user.nil?
        = image_tag @facebook_user.picture
      - if not @twitter_user.nil?
        = image_tag "http://img.tweetimag.es/i/#{@twitter_user.user.screen_name}_b"
      - unless @user.linked_in_user.nil?
        = image_tag @user.linked_in_user.profile.picture_url
    .tab_container
      #connect_accounts
        .connect_title
          Connect Your Accounts
        Pandas and gradient backgrounds increase transparency in local government through Twitter and #gov20. Oswald font is great for communication through scotch and San Francisco.
        .connect_icons
          Connect your accounts now:
          %span.fb_link
            = link_to "Facebook"
          %span.twit_link
            = link_to "Twitter"
          %span.li_link
            = link_to "LinkedIn"
      #basic_info
        %h2 General Info
        .tab_form
          .label
            Location:
          .value= @user.location
          .label
            Phone:
          .value= @user.phone
          .label
            Current Goal:
          .value= @user.goal
          .label
            Willingness to relocate:
          .value= @user.relocate
          .label
            Desired Salary:
          .value= @user.desired_salary
          %br.clearit

      #military_info
        %h2 Military Info
        .tab_form
          .label
            Current Status:
          .value= @user.military_status
          .label
            Service Branch:
          .value= @user.service_branch
          .label
            Rank/Pay grade:
          .value= @user.rank
          .label
            Last Unit:
          .value= @user.unit
          .label
            Veteran of:
          .value
            - @user.wars.each do |wars|
              = wars.war
          .label
            Awards:
          .value
            - @user.awards.each do |awards|
              = awards.award
          .label
            Disability:
          .value= @user.disability
          .label
            MOC:
          .value= @user.moc


          %br.clearit

      #skills_edu
        %h2 Skills &amp; Education
        %br.clearit
        %h3 - Education
        %br.clearit
        .tab_form
          - @user.educations.each do |education|
            .label
              School Name:
            .value= education.school_name
            .label
              Degree:
            .value= education.degree
            .label
              Study Field:
            .value= education.study_field
            .label
              Start Date:
            .value= education.start_date
            .label
              End Date:
            .value= check_present(education.end_date)
            .label
              Activities:
            .value= education.activities
            .label
              Notes:
            .value= education.notes
          %br.clearit

        %h3 - Skills
        .tab_form
          .label
            Skills:
          .value=@user.skills.map(&:skill).to_sentence
          %br.clearit

        %h3 - Languages
        .tab_form
          .label
            Languages:
          .value=@user.languages.map(&:language).to_sentence
          %br.clearit

        %h3 - Trainings
        .tab_form
          - @user.trainings.each do |training|
            .label
              Training:
            .value
              ="#{training.training}"
              - unless training.training_date.nil?
                "on #{training.training_date.strftime('%Y')}"
          %br.clearit

        %h3 - Certifications
        .tab_form
          - @user.certifications.each do |certification|
            .label
              Certification:
            .value
              = "#{certification.name} at #{certification.institution} "
              - unless certification.date_acquired.nil?
                "on #{certification.date_acquired.strftime('%Y')}"
          %br.clearit

      #exp
        %h2 Experience
        .tab_form
          - @user.job_histories.each do |job_history|
            .label
              Company:
            .value= job_history.org_name
            .label
              Title:
            .value= job_history.title
            .label
              Start:
            .value= job_history.start_date
            .label
              End:
            .value= check_present(job_history.end_date)
            .label
              Summary:
            .value=job_history.summary
          %br.clearit
    %br.clearit
