#profile
  = render 'users/profile/nav_profile'
  %br.clearit
  #user-main
    = render 'users/profile/sidebar_nav'
    .tab_container
      #basic_info.tab_content
        %h2 Basic Info
        .tab_form
          - if not @facebook_user.nil?
            = image_tag @facebook_user.picture
          - if not @twitter_user.nil?
            = image_tag "http://img.tweetimag.es/i/#{@twitter_user.user.screen_name}_b"
          - unless @user.linked_in_user.nil?
            = image_tag @user.linked_in_user.profile.picture_url

          = gravatar_image_tag("#{@user.email}", :alt => "#{@user.name}")
          
          .label
            Name:
          .value= @user.name
          .label
            Location:
          .value= @user.location
          .label
            Phone:
          .value= @user.phone
          .label
            Current Goal:
          .value= @user.goal
          .label
            Willingness to relocate:
          .value= @user.relocate
          .label
            Desired Salary:
          .value= @user.desired_salary
          %br.clearit

      #military_info.tab_content
        %h2 Military Info
        .tab_form
          .label
            Military Status:
          .value= @user.military_status
          .label
            Service Branch:
          .value= @user.service_branch
          .label
            MOC:
          .value= @user.moc
          .label
            Rank:
          .value= @user.rank
          .label
            Unit:
          .value= @user.unit
          .label
            Disability:
          .value= @user.disability
          .label
            Wars:
          .value
            - @user.wars.each do |wars|
              = wars.war
          .label
            Awards:
          .value
            - @user.awards.each do |awards|
              = awards.award
          %br.clearit

      #skills_edu.tab_content
        %h2 Skills &amp; Education
        %br.clearit
        %h3 - Education
        %br.clearit
        .tab_form
          .label
            School Name:
          .label            
            Degree:
          .label            
            Study Field:
          .label
            Start Date:
          .label
            End Date:
          .label
            Activities:
          .label
            Notes:
          %br.clearit
            
          - @user.educations.each do |education|
            .label
              .value= education.school_name
              .value= education.degree
              .value= education.study_field
              .value= education.start_date
              .value= check_present(education.end_date)
              .value= education.activities
              .value= education.notes
              .value= link_to 'Show', education
              .value= link_to 'Edit', edit_education_path(education)
              .value= link_to 'Destroy', education, :confirm => 'Are you sure?', :method => :delete

        %h3 - Skills
        %br.clearit
        - @user.skills.each do |skills|
          = skills.skill

        %h3 - Languages
        %br.clearit
        - @user.languages.each do |languages|
          = languages.language

        %h3 - Trainings
        %br.clearit
        .tab_form
          .label
            Training:
          .label            
            Training Date:
          %br.clearit

          - @user.trainings.each do |training|
            .label
              .value= training.training
              .value= training.training_date
              .value= link_to 'Show', training
              .value= link_to 'Edit', edit_training_path(training)
              .value= link_to 'Destroy', training, :confirm => 'Are you sure?', :method => :delete

        %h3 - Certifications
        %br.clearit
        .tab_form
          .label
            Name:
          .label
            Institution:
          .label
            Date Acquired:
          %br.clearit

          - @user.certifications.each do |certification|
            .label
              .value= certification.name
              .value= certification.institution
              .value= certification.date_acquired
              .value= link_to 'Show', certification
              .value= link_to 'Edit', edit_certification_path(certification)
              .value= link_to 'Destroy', certification, :confirm => 'Are you sure?', :method => :delete

      #exp.tab_content
        %h2 Experience
        %br.clearit
        .tab_form
          .label
            Org Name:
          .label
            Title:
          .label
            Start Date:
          .label
            End Date:
          .label
            Summary:
          %br.clearit

          - @user.job_histories.each do |job_history|
            .label
              .value= job_history.org_name
              .value= job_history.title
              .value= job_history.start_date
              .value= check_present(job_history.end_date)
              .value= job_history.summary
              .value= link_to 'Show', job_history
              .value= link_to 'Edit', edit_job_history_path(job_history)
              .value= link_to 'Destroy', job_history, :confirm => 'Are you sure?', :method => :delete

      #personal_info.tab_content
        %h2 Personal Info
        %br.clearit
        .tab_form
          .label
            DOB:
          .value= @user.dob
          .label
            Age:
          .value
            - unless @user.dob.nil?
              = @user.age(@user.dob)
          .label
            Gender:
          .value= @user.gender
          .label
            Ethnicity:
          .value= @user.ethnicity
          .label
            Family:
          .value= @user.family
          %br.clearit

    %br.clearit