<h1>Edit Profile</h2>
<ul>
	<li>Edit Profile</li>
	<li>Account Settings</li>
	<li>Resume Builder</li>
</ul>

<h2>Basic Info</h2>
<table>
  <tr>
	<td>Name: </td>
	<td><%= @user.first_name %>&nbsp;<%= @user.last_name %>
  </tr>
  <tr>
    <td>Location:</td>
	<td><%= @user.city %>, <%= @user.state %></td>
  </tr>
  <tr>
	<td>Phone: </td>
	<td><%= @user.phone %></td>
  </tr>
  <tr>
	<td>Current Goal: </td>
	<td><%= @user.goal%>
  </tr>
  <tr>
	<td>Willingness to relocate: </td>
	<td><%= @user.relocate%>
  </tr>
  <tr>
	<td>Desired Salary: </td>
	<td><%= @user.desired_salary %>
  </tr>
</table>
<h2>Personal Info</h2>
<table>
  <tr>
	<td>dob: </td>
	<td><%= @user.dob %>
  </tr>
  <tr>
    <td>Gender:</td>
	<td><%= @user.gender %></td>
  </tr>
  <tr>
	<td>Ethnicity: </td>
	<td><%= @user.ethnicity %></td>
  </tr>
  <tr>
	<td>Family: </td>
	<td><%= @user.family %>
  </tr>
</table>