<h1>Listing certifications</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Institution</th>
    <th>Date acquired</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @certifications.each do |certification| %>
  <tr>
    <td><%= certification.name %></td>
    <td><%= certification.institution %></td>
    <td><%= certification.date_acquired %></td>
    <td><%= link_to 'Show', certification %></td>
    <td><%= link_to 'Edit', edit_certification_path(certification) %></td>
    <td><%= link_to 'Destroy', certification, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Certification', new_certification_path %>
