<%= form_for(@job_history) do |f| %>
  <% if @job_history.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job_history.errors.count, "error") %> prohibited this job_history from being saved:</h2>

      <ul>
      <% @job_history.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :org_name %><br />
    <%= f.text_field :org_name %>
  </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :start_date %><br />
    <%= f.date_select :start_date,
 		:start_year => Time.now.year - 15
	%>
  </div>
  <div class="field">
    <%= f.label :end_date %><br />
    <%= f.date_select :end_date,
		:start_year => Time.now.year - 15,
		:include_blank => true
	%>
  </div>
  <div class="field">
    <%= f.label :summary %><br />
    <%= f.text_area :summary %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
