#sign_in_wrapper
  #sign_in
    %h2 Sign in

    = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
      %p
        = f.label :email
        = f.email_field :email
      %br.clearit
      %p
        = f.label :password
        = f.password_field :password
      %br.clearit
      - if devise_mapping.rememberable?
        %p
          = f.check_box :remember_me
          = f.label :remember_me

      %p=f.submit "Submit", :value=>"Sign in", :class => "green-btn"
      %br.clearit


    %p
      %strong Or sign in through one of these services:

    = render 'authentications/auth_menu'

    = render :partial => "devise/shared/links"
    
    %br.clearit
