<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :military_status %><br />
    <%= f.text_field :military_status %>
  </div>
  <div class="field">
    <%= f.label :service_branch %><br />
    <%= f.text_field :service_branch %>
  </div>
  <div class="field">
    <%= f.label :moc %><br />
    <%= f.text_field :moc %>
  </div>
  <div class="field">
    <%= f.label :rank %><br />
    <%= f.text_field :rank %>
  </div>
  <div class="field">
    <%= f.label :disability %><br />
    <%= f.text_field :disability %>
  </div>
  <div class="field">
    <%= f.label :security_clearnace %><br />
    <%= f.text_field :security_clearance %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>