= form_for @user do |f|
  - if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error") } prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :military_status
    = f.text_field :military_status

  .field
    = f.label :service_branch
    = f.text_field :service_branch

  .field
    = f.label :moc
    = f.text_field :moc

  .field
    = f.label :rank
    = f.text_field :rank

  .field
    = f.label :unit
    = f.text_field :unit

  .field
    = f.label :disability
    = f.text_field :disability

  .field
    = f.label :security_clearnace
    = f.text_field :security_clearance

  .actions
    =f.submit "Submit", :value=>"Save", :class => "green-btn"


