<p id="notice"><%= notice %></p>

<p>
  <b>School name:</b>
  <%= @education.school_name %>
</p>

<p>
  <b>Degree:</b>
  <%= @education.degree %>
</p>

<p>
  <b>Study field:</b>
  <%= @education.study_field %>
</p>

<p>
  <b>Start date:</b>
  <%= @education.start_date %>
</p>

<p>
  <b>End date:</b>
  <%= @education.end_date %>
</p>

<p>
  <b>Activities:</b>
  <%= @education.activities %>
</p>

<p>
  <b>Notes:</b>
  <%= @education.notes %>
</p>


<%= link_to 'Edit', edit_education_path(@education) %> |
<%= link_to 'Back', educations_path %>
