#nav
  %ul
    %li= active_link_to 'Home', root_path, :wrap_tag => :li
    %li= active_link_to 'My Profile', users_path, :wrap_tag => :li
    %li= active_link_to 'Career Research', careers_path, :wrap_tag => :li
    - if current_user
      %li= active_link_to 'Find Jobs', jobs_dashboard_path, :wrap_tag => :li
    - else
      %li= active_link_to 'Find Jobs', jobs_path, :wrap_tag => :li
    %li= active_link_to 'Communities', communities_path, :wrap_tag => :li
    %li
      %a{:href => '#'} Advice
