<!DOCTYPE html>
<html>
<head>
  <title>JobOps</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
</head>
<body class="home">

<h1 class="logo">JobOps</h1>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<ul class="user">
  <%= render 'devise/menu/registration_items' %>
  <%= render 'devise/menu/login_items' %>
</ul>
<%= render 'layouts/nav' %>

<%= yield %>

</body>
</html>
