!!! 5
%html
  %head
    %title
      JobOps
  = stylesheet_link_tag 'application'
  = javascript_include_tag 'application'
  = csrf_meta_tags

  %body.home
    #header-wrapper
      #header
        #logo
        = render 'layouts/user'
        = render 'layouts/nav'
    = yield
    #footer-wrapper
      #footer
        .left
          %p
            Code for America Labs, Inc. is a non-partisan, non-political 501(c)(3) organization
          %p
            Content is licensed through 
            %a{:href => '#'}Creative Commons.
        .right
          %ul#footer-links
            %li
              %a{ :href => '#'}Privacy Policy
            %li
              %a{ :href => '#'}Terms of use
            %li
              %a{ :href => '#'}Help
        %br.clearit

