= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|

  = devise_error_messages!

  .field
    = f.label :name
    = f.text_field :name
  
  .field
    = f.label :email
    -if current_user.email.include?('change-me')
      = f.email_field :email, :value => ""
    -else
      = f.email_field :email

  .field
    = f.label :new_password
    = f.password_field :new_password
  .field
    = f.label :confirm
    = f.password_field :confirm
  .field
    = f.label :current_password
    = f.password_field :current_password

  .actions
    =f.submit "Submit", :value=>"Save", :class => "green-btn"